---
import PortfolioIcon from "../../../icons/PortfolioIcon.astro";
import LinkedinIcon from "../../../icons/LinkedinIcon.astro";
import GithubIcon from "../../../icons/GithubIcon.astro";

const icons = [
  { component: PortfolioIcon, alt: "Portfolio" },
  { component: LinkedinIcon, alt: "LinkedIn" },
  { component: GithubIcon, alt: "GitHub" },
];
---

<div class="flex px-4 gap-8">
  {
    icons.map(({ component: Icon, alt }) => (
      <div class="hover:text-red-500 cursor-pointer hover:scale-105 transition-all duration-100">
        <Icon alt={alt} />
      </div>
    ))
  }
</div>
