---
const links = [{ name: "Home" }, { name: "Posts" }, { name: "Contact" }];
---

<div class="flex px-4 gap-8">
  {
    links.map((item) => (
      <div class="hover:text-red-500 cursor-pointer hover:scale-105 transition-all duration-100">
        {item.name}
      </div>
    ))
  }
</div>
