---
import MainLayout from "../layouts/MainLayout.astro";

const title = "Berto Ramos Blog";
---

<MainLayout title={title}>
  <div
    class="text-white flex flex-col items-center pt-14 h-screen w-screen text-5xl gap-8 backdrop-blur-lg gradient-mask-b-0 gradient-mask-t-0"
  >
    <h1 class="text-red-500 text-6xl font-black">404</h1>
    <h3 class="font-black text-4xl">
      This page is as lost as your last pair of matching socks.
    </h3>
  </div>
</MainLayout>
