---
import { Image } from "astro:assets";
import MainLayout from "../layouts/MainLayout.astro";
import SelfPic from "../images/cvpic4bg.webp";

const title = "Berto Ramos Blog | About";
---

<MainLayout title={title}>
  <div class="h-full mt-12 mb-16 flex flex-col sm:flex-row items-center justify-center">
    <div class="p-16 backdrop-blur-xl rounded-xl font-semibold text-pretty">
      <h1 class="text-4xl text-red-700 mb-4">I'm Alberto Ramos</h1>
      <h2 class="text-2xl text-red-200 mb-2">Welcome to my little corner of the internet.</h2>
      <p>
        As you already know, here
        you'll read about me and one of my passions: web development. Initially,
        the idea of creating this blog was to practice some modern technologies,
        but it ended up becoming a place where I pour out my thoughts, ideas,
        and, of course, rant about the frustrations of programming (which
        eventually turn into big satisfactions). Take your time exploring the
        blog, and let me know if you find any errors in the website or the text.
        Or just drop a note to let me know you've been here—that would mean a
        lot to me!
      </p>
    </div>
    <Image
      src={SelfPic}
      alt="picture of myself"
      width={350}
      height={350}
      class="p-12 backdrop-blur-md rounded-xl"
    />
  </div>
</MainLayout>
