---
import MainLayout from "../layouts/MainLayout.astro";
const title = "Berto Ramos Blog | Contact";
---

<MainLayout title={title}>
  <div class="flex items-center justify-center my-8 h-screen">
    <div class="backdrop-blur-2xl rounded-xl py-8">
     
      <form class="flex flex-col items-center justify-center w-[100%] gap-8 px-8 rounded-xl">
         <h1 class="text-3xl font-black text-red-500 self-center">Contact me</h1>
        <div>
          <label
            for="email"
            class="block mb-2 text-sm sm:text-lg font-medium text-white"
          >
            Your email
          </label>
          <input
            name="email"
            type="email"
            id="email"
            class="shadow-sm bg-transparent text-white font-bold text-sm rounded-lg block w-[90%] sm:w-[20rem] lg:w-[28rem] xl:w-[36rem] p-2.5 dark:shadow-sm-light border-b border-red-500 active:border-none"
            placeholder="example@email.com"
            required
          />
        </div>
        <div>
          <label
            for="subject"
class="block mb-2 text-sm sm:text-lg font-medium text-white"          >
            Subject
          </label>
          <input
            name="subject"
            type="text"
            id="subject"
             class="shadow-sm bg-transparent text-white font-bold text-sm rounded-lg block w-[90%] sm:w-[20rem] lg:w-[28rem] xl:w-[36rem] p-2.5 dark:shadow-sm-light border-b border-red-500 active:border-none"
            placeholder="Subject"
            required
          />
        </div>
        <div class="sm:col-span-2">
          <label
            for="message"
class="block mb-2 text-sm sm:text-lg font-medium text-white"          >
            Your message
          </label>
          <textarea
            name="message"
            id="message"
            rows="6"
             class="shadow-sm bg-transparent text-white font-bold text-sm rounded-lg block w-[90%] sm:w-[20rem] lg:w-[28rem] xl:w-[36rem] p-2.5 dark:shadow-sm-light border-b border-red-500 active:border-none"
            placeholder="Your message..."
          ></textarea>
        </div>
        <button
          type="submit"
          class="rounded-xl border border-white/10 py-2 px-8 bg-transparent hover:scale-105 hover:bg-white/10 hover:text-red-500 transition flex item-center justify-center border-red-500 w-full sm:w-auto"
        >
          Send
        </button>
      </form>
    </div>
  </div>
</MainLayout>
