---
import {getCollection} from "astro:content"
import type {collectionEntry} from "astro:content"

const allBlogArticles: collectionEntry<'blog'>[] = await getCollection('blog')

import GalleryCard from "./GalleryCard/GalleryCard.jsx"
---

<div class="h-full grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-3 pt-12 pb-24">
 {allBlogArticles ? (
        allBlogArticles.map(article => (
          <GalleryCard key={article.slug} article={article} />
        ))
      ) : (
        <p>Loading...</p>
      )}
</div>