---
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

const allArticles: CollectionEntry<'blog'>[] = await getCollection('blog');


const allBlogArticles = allArticles.sort((a, b) => {
  const dateA = new Date(a.data.pubDate);
  const dateB = new Date(b.data.pubDate);
  return dateB - dateA;
});

import GalleryCard from "./GalleryCard/GalleryCard.jsx"
---



   <h1 class="text-4xl backdrop-blur-xl w-max p-8">All Posts</h1>
    <div class="h-full grid grid-cols-1 gap-12 sm:grid-cols-2 lg:grid-cols-3  pb-24">
      {allBlogArticles ? (
        allBlogArticles.map((article) => (
          <GalleryCard key={article.slug} article={article} client:load />
        ))
      ) : (
        <p>Loading...</p>
      )}
    </div>

