---
import Links from "../Navbar/navbarComponents/Links.astro";
import Icons from "../Navbar/navbarComponents/Icons.astro";
import Logo from "../../../public/images/logoPerso.png";
import { Image } from "astro:assets";
---

<div
  class="bottom-0 backdrop-blur-lg w-full text-zinc-100 h-24 flex items-center justify-around border-t border-gray-800"
>
  <div class="">
    <div class="">
      <Image
        src={Logo}
        alt="perso logo"
        height={48}
        width={48}
        class="rounded-full"
      />
    </div>
    <p>
      This is my personal blog, feel free to navigate and read my post, contact
      me if there is something you dislike abbout it. The main goal of it was to
      practice web development.
    </p>
  </div>
  <div class="flex items-center gap-2">
    <Links />
    <Icons />
  </div>
</div>
