---
import Footer from "../components/Footer/Footer.jsx";
import Navbar from "../components/Navbar/Navbar.jsx";
const { title } = Astro.props;
import { ViewTransitions } from "astro:transitions";

const links = [
  { name: "Home", link: "/" },
  { name: "About", link: "/about" },
  { name: "Posts", link: "/posts" },
  { name: "Contact", link: "/contact" },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/images/dragon-rem.web" type="image/webp" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap"
    />

    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body
    class="min-h-screen w-full flex items-center justify-center flex-col text-zinc-100 font-quick bg-black"
    style="background-image: url('/images/dragon.webp');"
  >
    <Navbar client:load links={links} />
    <header title={title}></header>
    <main class="flex-grow w-[80%]">
      <slot />
    </main>
    <Footer links={links} />
  </body>
</html>
