---
import Footer from "../components/Footer/Footer.jsx";
import Navbar from "../components/Navbar/Navbar.jsx";
const { title } = Astro.props;

const links = [{ name: "Home" }, { name: "Posts" }, { name: "Contact" }];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body
    class="min-h-screen w-full flex items-center justify-center flex-col text-zinc-100"
    style="background-image: url('/images/dragon.webp');"
  >
    <Navbar client:load links={links} />
    <header title={title}></header>
    <main class="flex-grow">
      <slot />
      <!-- your content is injected here -->
    </main>
    <Footer links={links} />
  </body>
</html>
